@tailwind base;
@tailwind components;
@tailwind utilities;
.test{
    color : white;
    font-size: 25px;
    padding-right: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.edit_botton{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;

}
.bottons{
    display: flex;
}
.botton1{
    padding-right: 60px;
    color: black;
    font-size: 40px;
    padding-bottom: 60px;
}

#botton_font{
    background-color: red;
}
.text_color{
    color: black;
    font-weight: bold;
}
.text_color2{
    color: white;
}
#dayly_title{
    font-size: 40px;
}
