@tailwind base;
@tailwind components;
@tailwind utilities;
.test{
    color : white;
    font-size: 25px;
    padding-right: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.edit_botton{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;

}
